@charset "utf-8";

/*-------------------------------------------------------------------
    File definition: Responsive css on all pages
    Order: header > main > sub pages > footer
-------------------------------------------------------------------*/

@media screen and (max-width: 1470.98px) {
  /* login */
  /* login form */
}

@media screen and (max-width: 1300.98px) {
  /********* product list ***********/

  .product_list_title {
    font-size: 20px;
    text-align: center;
  }

  .product_card_item .product_item_title {
    margin-bottom: 10px;
  }
  .product_cards_container .product_img {
    height: 200px;
  }
  /* product search */
  .product_search_list ul {
    height: 300px;
  }
  .product_search_image .product_search_item {
    height: auto;
  }
  .product_search_list li .wish_btn {
    left: 130px;
  }
  .product_search_table th {
    width: 14%;
    text-align: end;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  .product_search_table .name_td {
    width: 180px;
  }
  .product_search_list li .wish_btn {
    left: 130px;
  }
  .product_search_table .input {
    width: 160px;
    height: 30px;
  }
  .product_search_table .submit_btn {
    width: 100px;
  }
  .product_search_area {
    padding-left: 40px;
    padding-right: 60px;
  }
  .product_search_table .price_input {
    width: 130px;
    height: 30px;
  }

  /*mobile  shopping_cart */
  .shopping_cart .shopping_detail_cont {
    width: 100%;
    min-width: auto;
  }

  .shopping_cart .shopping_detail_cont .count_box a.down {
    width: 20px;
    line-height: 23px;
    height: 25px;
    padding-left: 7px;
  }
  .shopping_cart .shopping_detail_cont .td_label5 {
    font-size: 13px;
  }
  .shopping_cart .shopping_detail_cont .td_label4 .order_prd_price {
    font-size: 18px;
  }
  .shopping_cart .shopping_detail_cont .count_box .input_number {
    width: 24px;
    height: 25px;
  }
  .shopping_detail_cont .count_box a.up {
    width: 20px;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
  }
  .shopping_cart .shopping_table .shopping_detail_cont .td_label4_sub {
    font-size: 12px;
  }
  .shopping_cart .shopping_table .shopping_detail_cont .td_label4 {
    font-size: 12px;
  }
  .shopping_cart .shopping_table .shopping_detail_cont th {
    font-size: 14px;
  }
  .shopping_cart .shopping_table .shopping_detail_cont .td_label3 {
    min-width: 100px;
  }

  .shopping_cart .shopping_detail_cont .shop_detail_th3 {
    min-width: 150px;
    text-align: center;
  }
  .shopping_cart .table_cont.shopping_detail_cont .shop_detail_th2 {
    width: 5%;
  }

  /* mobile shopping_cart end */
  /* mobile shopping order */
  .shopping_detail_cont .shop_detail_th3 {
    min-width: 514px;
    text-align: center;
  }
  .shopping_cart.shopping_detail_cont .shopping_th {
    width: 5%;
  }
  .table_cont.shopping_detail_cont .shop_detail_th2 {
    min-width: 70px;
  }

  .shopping_detail_cont .td_label3 {
    height: 47px;
    min-width: 144px;
  }
  .shopping_detail_cont .td_label4 {
    min-width: 70px;
  }
  /* mobile shopping order end */
  /* main */

  .sec_05 .sec_05_item {
    gap: 30px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt {
    margin-top: 10px;
    width: 300px;
  }

  .sec_05 .sec_05_item .sec_05_left .img {
    width: 400px;
    height: 400px;
  }
  .sec_05 .sec_05_right_items .m_custom_item_txt {
    height: 100px;
  }

  .product_main_item {
    margin-right: 20px;
  }
  .product_main_title {
    font-size: 15px;
    margin: 10px 0;
  }
  .sec_01_swiper_inn .product_main_discount-price {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000.98px) {
  /*mobile shop order */
  .shopping_m .mobile_hidden_m {
    display: none;
  }
  .shopping_m .pc_hidden_p {
    display: block;
  }

  .shop_order_table2 .tax_table .tax_body .tax_input {
    width: 160px;
  }
  .tax_table .tax_body .td_input {
    width: 15%;
    padding: 0;
    font-size: 13px;
    text-align: left;
  }
  /* mobile shop order end */

  .notice_m.mobile_hidden_m {
    display: none;
  }
  .notice_m.pc_hidden_p {
    display: block;
  }

  /* mobile community */
  .notice_m {
    width: 100%;
    padding: 30px 3% 50px;
    box-sizing: border-box;
  }
  .notice_m .notice_view {
    border-top: 1px solid #333;
  }
  .notice_view_th {
    padding: 12px 10px;
    text-align: left;
    color: #222;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 14px;
    font-weight: 500;
  }
  .notice_view_td {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
  }
  .notice_view_td .date {
    font-size: 12px;
    color: #999;
    font-weight: normal;
  }
  .notice_m .notice_cont_text {
    padding: 25px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #222;
    font-family: "Lato", "NotoSans", "Apple SD Gothic Neo", sans-serif;
    line-height: 1.2;
  }
  .notice_m .nextpre_post th {
    padding: 12px 10px;
    text-align: left;
    color: #333;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 12px;
    width: 20%;
  }
  .notice_m .nextpre_post td {
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
  }
  .notice_m .input_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 16px;
  }
  .notice_m .input_btn a {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px 8px;
    background: #fff;
    margin: 0;
    height: auto;
    text-align: center;
    font-size: 13px;
    font-family: "Lato", "NotoSans", "Apple SD Gothic Neo", sans-serif;
    line-height: 18px;
    color: #222;
  }

  /* mobile community end */

  /* product list */
  .product_cards_container .product_img {
    height: 160px;
  }
  .product_item_title {
    font-size: 14px;
  }
  .product_price {
    font-size: 17px;
  }
  /*mobile FAQ */
  .faq .title_container .menu {
    display: none;
  }

  .faq .input {
    padding: 8px;
    border: 1px solid #ddd;
    width: 120px;
    box-sizing: border-box;
  }
  .faq .title_container .title {
    font-size: 25px;
    margin-top: 10px;
  }
  .faq select {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  .faq .section_select .btns {
    padding: 8px;
    box-sizing: border-box;
    border: 0;
    height: 40px;
    background: #777;
    color: #fff;
    text-align: center;
    font-size: 13px;
  }
  /* mobile faq end */

  /* notice  */
  .menu img {
    width: 16px;
    height: 16px;
  }
  .title_container .menu {
    padding-top: 5px;
  }

  .title_container .title {
    font-size: 20px;
  }
  /* product search */
  .product_search_table th {
    width: 10%;
    padding-left: 10px;
    font-size: 10px;
  }
  .product_search_table .name_td {
    width: 170px;
  }
  .product_search_table .input {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
  .product_search_table .submit_btn {
    width: 100px;
  }
  .product_search_area {
    padding-left: 40px;
    padding-right: 60px;
  }
  .product_search_table .price_input {
    width: 100px;
    height: 25px;
  }
  /* shopping Cart  */
  .shopping_cart .order_member_btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .shopping_cart .order_member_btn a,
  .shopping_cart .order_member_btn button {
    min-width: 100px;
    height: 45px;
    line-height: 43px;
    padding: 0;
  }
  /* shopping cArt end */
  /* main */
  .sec_03 {
    height: 450px;
  }
  .sec_03 .swiper-slide-active {
    min-height: 350px;
    min-width: 350px;
  }
  .sec_03 .sec_03_swiper_item {
    max-width: 250px;
    height: 270px;
  }
  .sec_05 .sec_05_item {
    display: block;
  }
  .sec_05 .sec_05_item .sec_05_left {
    display: flex;
    gap: 30px;
  }
  .sec_05 .sec_05_item .sec_05_left .img {
    width: 550px;
    height: 400px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt {
    width: 300px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt h5 {
    font-size: 25px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt .m_custom_item_price {
    font-size: 16px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt {
    margin-top: 150px;
    font-size: 20px;
  }
  .sec_05_left .m_custom_item_price {
    margin-top: 20px;
  }
  .sec_05 .sec_05_right {
    margin-top: 40px;
  }
  .sec_05 .sec_05_right_tit {
    text-align: center;
  }
  .sec_05 .sec_05_right_desc {
    text-align: center;
    margin: 10px 0;
  }
  .sec_05 .sec_05_right_items .m_custom_item_txt {
    height: 100px;
  }
  .sec_05 .sec_05_right_button_wrap {
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .shopping_cart .order_member_btn .on {
    height: 50px;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 10px;
  }
  .shopping_cart .order_member_btn .shop_btn{
    margin-left:10px;
    margin-right: 0;
  }
  .mobile_hidden_m {
    display: none;
  }
  .pc_hidden_p {
    display: block;
  }

  .shopping_m .shopping_order_cont {
    height: 130px;
  }
  .shopping_order {
    width: 100%;
  }
  .shopping_table_m {
    margin-bottom: 20px;
  }
  .shopping_order_table_m .shopping_table_m td {
    padding: 2px;
    text-align: left;
    font-size: 15px;
    letter-spacing: -0.025rem;
    color: #555;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    box-sizing: border-box;
  }
  .shopping_order_table_m .tax_table1 td {
    padding: 2px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    letter-spacing: -0.025rem;
    color: #555;
    border-bottom: 1px solid #ddd;
    /* border-right: 1px solid #ddd; */
  }
  .shopping_order .shopping_m .crt_del {
    padding: 5px 0 10px;
    width: 100%;
  }
  .shopping_order .shopping_m .order_member_btn .on {
    width: 100%;
    height: 36px;
    line-height: 30px;
    font-size: 16px;
  }
  .shopping_order .shopping_m .order_member_btn .shop_btn {
    background: #444;
    border-color: #444;
    color: #fff;
  }
  .shopping_order .shopping_m hr {
    margin: 0;
  }
  .shopping_order .shopping_m .order_member_btn {
    margin-top: 0px;
  }
  .shopping_cart .order_member_btn {
    display: block;
    
}
  .shopping_order .shopping_m .agree_box {
    width: 100%;
    padding: 16px 14px;
    box-sizing: border-box;
  }
  .shopping_order .shopping_m .agree_box1 {
    width: 100%;
    padding: 16px 14px 0px 14px;
    box-sizing: border-box;
  }
  .shopping_order .shopping_m .input_style {
    height: 35px;
    width: 120px;
    padding: 0px 0px 0px 16px;
    border: 1px solid #ddd;
  }
  .shopping_order .shopping_m .agree_box h4 {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    margin: 5px 0;
  }

  .shopping_order .shopping_m .agree_box .ttl {
    margin: 5px 0;
  }
  .shopping_order .shopping_m .agree_box select {
    width: 70px;
    height: 38px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
  }
  .shopping_order .shopping_m .agree_box,
  .shopping_order .shopping_m .agree_box1 {
    font-size: 13px;
  }
  .shopping_order .shopping_m .agree_box a {
    height: 35px;
    background: #888;
    color: #fff;
    border: none;
    margin: 0;
    padding: 8px 12px;
    border-radius: 3px;
  }
  .shopping_order .shopping_m .agree_box1 a {
    height: 35px;
    background: #888;
    color: #fff;
    border: none;
    margin: 0;
    padding: 8px 12px;
    border-radius: 3px;
  }
  .shopping_order .shopping_m .agree_box .send_post_text {
    margin: 10px 0px 0px;
  }
  .shopping_order .shopping_m .agree_box .send_address {
    margin: 5px 0px 0px;
  }
  .shopping_order .shopping_m .agree_box .ttl h3 {
    float: left;
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }
  .shopping_order .shopping_m .agree_box .ttl span {
    float: right;
    color: #333;
    margin: 5px;
    font-size: 13px;
  }

  .shopping_order .shopping_m .agree_box1 h2 {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    line-height: 1.3;
  }
  .shopping_order .shopping_m .agree_box1 h4 {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    line-height: 1.3;
  }
  .shopping_order .shopping_m .agree_box1 .data_box {
    margin: 12px auto 0;
  }
  .shopping_order .shopping_m .agree_box1 .data_total .text {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    line-height: 1.3;
  }
  .shopping_order .shopping_m .agree_box1 .data_total small {
    font-size: 11px;
    color: #999;
  }
  .shopping_order .shopping_m .data_box2 span {
    font-size: 12px;
    color: #555;
  }
  .shopping_order .shopping_m .agree_box .data_table {
    margin: 12px auto 0;
  }
  .shopping_order .shopping_m .agree_box1 .data_total {
    margin: 12px auto 0;
  }
  .shopping_order .shopping_m .agree_box1 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #111;
    margin: 6px 0 14px;
  }
  .shopping_order .shopping_m .agree_box1 button {
    height: 35px;
    background: #888;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border: none;
    margin: 0;
    padding: 0px 12px;
    border-radius: 3px;
  }
  .shopping_order .shopping_m .total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px;
  }
  .shopping_order .shopping_m .data_total span {
    font-size: 12px;
    color: #555;
  }
  .shopping_order .shopping_m .data_total .prd_price {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    color: #ef4023;
  }
  .shopping_order .shopping_m .send_post_text h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
  }
  .shopping_order .shopping_m textarea {
    padding: 10px;
    height: 67px;
  }
  .tax_table,
  .tax_table1 {
    display: block;
  }
  .tax_table1{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .tax_table {
    margin-left: 0;
  }
  .tax_table1 .tax_body1_m {
    display: none;
  }
  .tax_table .tax_body_m {
    display: none;
  }
  .shopping_table_m .tax_table td {
    width: 80%;
  }
  .tax_table1 .input_box_item {
    width: 60px;
    height: 30px;
    border: 1px solid #ddd;
  }
  .tax_table1 .input_box_list {
    margin: 5px 8px;
  }

  .shopping_table_m .tax_table .shopping_order_td {
    height: 38px;
    width: 24%;
    padding: 0 6px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-bottom: none;
    font-size: 12px;
  }

  .tax_table1 label {
    font-size: 12px;
    margin: 2px 6px;
    line-height: 30px;
  }

  .tax_table .tax_body_m .input_box1 {
    min-width: 95%;
    border: 1px solid #ddd;
    background: var(--bs-white);
    height: 30px;
    margin: 2px 8px;
  }
  .tax_table .tax_body_m .val {
    width: 95%;
  }
  .tax_table .tax_body_m .tax_input {
    height: 30px;
    width: 95%;
    background: var(--bs-white);
    margin: 2px 8px;
    border: 1px solid #ddd;
  }

  .tax_table .td_input1 {
    display: none;
  }
  .tax_table1 {
    margin-left: 0;
  }
  .tax_table1 .tax_body1_m tr {
    width: 100%;
    height: 40px;
    display: flex;

    justify-content: start;
  }

  .tax_table1 .radio_content_input {
    /* border-bottom: 1px solid #ddd;
    border-bottom: none; */
    width: 60%;
  }
  .tax_table1 .radio_content {
    width: 22%;
    font-size: 12px;
    /* border: 1px solid #ddd;
    border-bottom: none; */
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .shopping_order_table .radio_label {
    display: block;
    font-size: 12px;
  }

  .tax_table1 label {
    font-size: 12px;
    margin: 3px 6px;
  }
  .tax_table1 .radio_content_input input {
    width: 90%;
    margin: 3px 10px;
    height: 30px;
    background: var(--bs-white);
  }
  .shopping_table_m .tax_body_m tr {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .shopping_order .button_common {
    width: 100%;
    padding: 0 3%;
    margin: 8px auto 30px;
    box-sizing: border-box;
  }
  .shopping_order .button_common .cart_del {
    line-height: 1.4;
    margin: 6px 0 16px;
    font-size: 12px;
    color: #999;
  }
  .shopping_order .button_common .button_common_item {
    display: flex;
    justify-content: center;
  }
  .shopping_order .button_common .cancel_btn {
    display: block;
    width: 200px;
    height: 55px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #444;
    border: none;
  }
  .shopping_order .button_common .submit_btn {
    display: block;
    width: 200px;
    height: 55px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #ef4023;
    border: none;
  }
  .shopping_order .shopping_order_radio_list {
    margin: 12px 0 auto;
  }
  .shopping_order .shopping_order_radio_list h2 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
    line-height: 1.3;
  }
  /* .mobile_hidden_m {
    display: none;
  }
  .pc_hidden_p {
    display: block;
  } */
  /* mobile shopping end */

  /* mobile shopping_cart version */

  .shopping_container {
    width: 100%;
  }

  .shopping_cart .shopping_m .shopping_cont1 .check_box {
    width: 17px;
    height: 17px;
    margin: 50px 15px;
  }
  .shopping_cart .shopping_m .shopping_cont2 .check_box {
    width: 17px;
    height: 17px;
    margin: 40px 15px;
  }
  .shopping_m .shopping_cont {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin: 20px 10px;
  }
  .shopping_cart .shopping_m hr {
    margin: 0;
  }

  .shopping_m .shopping_cont1 {
    display: flex;
    height: 130px;
    justify-content: space-between;
    margin: 20px 0;
  }
  .shopping_m .shopping_cont1.shopping_cont2 {
    display: flex;
    height: 120px;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 20px;
  }
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_right_text .down,
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_right_text .up {
    float: left;
    width: 24px;
    height: 26px;
    line-height: 24px;
    color: #555;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 5px 0;
    text-align: center;
    box-sizing: border-box;
  }
  .shopping_cart
    .shopping_m
    .shopping_cont
    .shopping_cont_right_text
    .input_number {
    float: left;
    color: #111;
    width: 40px;
    height: 26px;
    border: 1px solid #ddd;
    background: var(--bs-white);
    margin: 5px 0;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }

  .shopping_cart .shopping_m .shopping_cont2 .img_box {
    width: 120px;
    height: 90px;
    border: 1px solid #ddd;
    margin-left: 12px;
    float: left;
    margin-top: 8px;
    box-sizing: border-box;
  }
  .shopping_cart .shopping_m .shopping_cont1 .img_box {
    width: 120px;
    height: 90px;
    border: 1px solid #ddd;
    margin-left: 12px;
    float: left;
    margin-top: 8px;
    box-sizing: border-box;
  }
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_text_list {
    font-size: 15px;
  }
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_text1 {
    line-height: 40px;
  }
  .shopping_cart .shopping_m .shopping_cont1_left {
    display: flex;
  }
  .shopping_cart .shopping_m .shopping_cont .img_box img {
    width: 110px;
    height: 80px;
  }

  .shopping_m .shopping_cont_text {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .shopping_cart .shopping_m .shopping_cont_text .prd_tit {
    line-height: 1.3;
    font-weight: 400;
    display: block;
    font-size: 14px;
    height: auto;
    color: #333;
  }

  .shopping_cart .shopping_m .shopping_cont_text_list {
    display: flex;
    padding: 3px 6px;
  }

  .shopping_cart .shopping_m .shopping_cont_left_text,
  .shopping_cart .shopping_m .shopping_cont_right_text {
    padding: 4px 8px;
    font-size: 13px;
  }

  .shopping_cart .shopping_m .shopping_cont_right_text .input_number {
    width: 40px;
    float: left;
    height: 26px;
    color: #111;
    margin: 5px 0;
    padding: 1px 2px;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .prd_price {
    font-size: 15px;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .edit_btn {
    width: 34px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #ddd;
    margin: 5px;
    background: #f7f7f7;
    padding: 0 8px;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .down {
    float: left;
    width: 24px;
    height: 26px;
    padding: 0 10px;
    margin: 5px 0;
    font-weight: 700;
    color: #555;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .up {
    float: left;
    width: 24px;
    height: 26px;
    font-weight: 700;
    color: #555;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 5px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart .shopping_m .shopping_info {
    display: flex;
    padding: 12px 11px;
    height: 57px;
    justify-content: space-between;
  }
  .shopping_cart .shopping_m .shopping_info_cont_right {
    text-align: right;
  }
  .shopping_cart .shopping_m .shopping_info_cont_left,
  .shopping_cart .shopping_m .shopping_info_cont_right {
    font-size: 14px;
    color: #333;
  }
  .shopping_cart .shopping_m .shopping_btn {
    margin: 20px auto;
    padding: 0 8px;
  }
  .shopping_cart .shopping_m .shopping_btn .btn_small {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 17px;
    font-size: 12px;
    color: #444;
    background: #f7f7f7;
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-right-color: #bbb;
    border-bottom-color: #bbb;
  }
  .shopping_cart .shopping_m .order_member_btn {
    margin-top: 20px;
  }
  .shopping_cart .shopping_m .order_member_btn .crt_del {
    color: #999;
    font-size: 12px;
    margin-left: 18px;
  }
  .shopping_cart .order_member_btn .shop_btn {
    background: #333;
    border-color: #333;
    color: #fff;
    width: 30%;
  }
  .shopping_cart .shopping_m .order_member_btn {
    justify-content: start;
    width: 100%;
  }
  .shopping_cart .shopping_m .order_member_btn_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopping_cart .order_member_btn .on {
    width: 50%;
  }
  .shopping_cart .shopping_m .order_member_btn .shopping_cart_btn {
    display: none;
  }

  .shopping_cart .shopping_m .crt_total {
    padding: 20px 15px;
  }
  .shopping_cart .shopping_m .crt_total_cont {
    display: flex;
    justify-content: space-between;
    color: #111;
    font-size: 14px;
  }
  .shopping_cart .shopping_m .crt_total_cont_left {
    font-size: 14px;
    color: #555;
  }
  .shopping_cart .shopping_m .crt_total_cont_right {
    text-align: right;
  }
  /* mobile end */
  .inquiry .button_list a {
    padding: 10px 50px;
    font-size: 13px;
  }

  /* login */
  .login_page .menu {
    display: none;
  }
  .login_page .title_container span {
    display: block;
    font-size: 16px;
  }
  .login_page .title_container {
    text-align: center;
    display: block;
  }
  .login_page .title_container .title {
    font-size: 25px;
    color: var(--bs-black);
    margin: 0px 0px 12px;
  }
  .login_page_wrap {
    width: 100%;
    padding: 0px;
    border: none;
  }
  .login-form {
    display: block;
  }
  .login_page_wrap .input_lists {
    display: block;
  }
  .login-form .input {
    width: 100%;
  }
  .login-form .input input {
    width: 100%;
  }

  .login_page_wrap .login-check {
    margin: 0;
  }
  .login_page_wrap .login-social {
    margin: 50px 0 0;
  }
  .login_page_wrap .login-form button {
    display: block;
    float: left;
    width: 100%;
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
  }
  /********* product list ***********/
  .product_cards_container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .product_price_list .product_price {
    font-size: 16px;
  }

  .product_price_list .product_cost {
    font-size: 13px;
  }
  /* gry_bar */
  .gry_bar1 {
    width: 100%;
    height: 12px;
    border-top: 1px solid #e2e2e2;
    background: #f8f8f8;
  }

  /************ notice*********/
  .notice_body_table {
    margin-top: 20px;
  }
  .notice_title_container {
    margin: 30px 0;
  }
  .notice_title_container .notice_title {
    font-size: 20px;
  }
  .table_head_container {
    display: none;
  }
  .notice_body_table th {
    display: none;
  }

  /* qna responsive */
  .qna_common_table td {
    width: 35%;
  }

  .qna_common_table tr {
    width: 100%;
  }
  .qna_common_table.view th {
    min-width: 80px;
  }
  .qna_common_table.view td {
    min-width: 200px;
  }
  .th_text_pre {
    min-width: 60px;
    text-align: center;
  }

  /* product search */
  .product_search_table select {
    width: 210px;
    height: 30px;
    font-size: 12px;
    line-height: 20px;
  }
  .product_search_table th {
    font-size: 10px;
    width: 100px;
  }
  .product_search_table th {
    width: 8%;
    font-size: 9px;
  }

  .product_search_table td {
    width: 15%;
  }
  .product_search_table .name_td {
    min-width: 100px;
  }
  .product_search_table .price_td {
    width: 30%;
  }
  .product_search_table .price_input {
    width: 80px;
    height: 25px;
  }
  .product_search_table .submit_btn {
    width: 90px;
    height: 100px;
  }

  .product_search_table .input {
    width: 100px;
    font-size: 10px;
    height: 25px;
  }
  .product_search_area {
    padding-left: 20px;
    padding-right: 10px;
  }
  /* table scroll */
  .table_container3 {
    overflow-y: auto;
    overflow-x: scroll;
  }

  .qna_body_table {
    width: 100%;
    min-width: 900px;
  }
  .review_body_table {
    width: 100%;
    min-width: 900px;
  }
  .shopping_order_table .td_label {
    min-width: 100px;
  }

  .input[name*="address"] {
    width: 300px;
    margin: 3px 0;
  }
  .shopping_order_table .val {
    font-size: 11px;
  }

  .shopping_cart_step {
    display: none;
  }
  /**************main *************/
  .sec_03 {
    height: 400px;
  }
  .sec_03 .swiper-slide-active {
    min-height: 300px;
    width: 260px;
  }
  .sec_03 .sec_03_swiper_item {
    max-width: 200px;
    height: 240px;
  }
  .sec_04 .sec_04_items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sec_05 .sec_05_item {
    display: block;
  }
  .sec_05 .sec_05_item .sec_05_left {
    display: flex;
    gap: 15px;
  }
  .sec_05 .sec_05_item .sec_05_left .img {
    width: 400px;
  }

  .sec_05 .sec_05_item .sec_05_left .img img {
    width: 350px;
    height: 400px;
  }

  .sec_05 .sec_05_item .sec_05_left .txt {
    margin-top: 140px;
    font-size: 20px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt .m_custom_item_price {
    font-size: 15px;
  }
  .sec_05 .sec_05_right {
    margin-top: 40px;
  }
  .sec_05 .sec_05_right_items {
    gap: 10px;
  }
  .sec_05 .sec_05_right_items .m_custom_item_img {
    height: 160px;
  }

  .sec_05 .sec_05_right_tit {
    text-align: center;
  }
  .sec_05 .sec_05_right_desc {
    text-align: center;
    margin: 10px 0;
  }
  .sec_05 .sec_05_right_items .m_custom_item_txt {
    height: 100px;
  }
  .sec_05_right_items .m_custom_item_price {
    font-size: 13px;
  }
  .sec_05 .sec_05_right_button_wrap {
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 575.98px) {
  /* mobile version */

  .shopping_container {
    width: 100%;
  }

  .shopping_cart .shopping_m .check_box {
    width: 16px;
    height: 16px;
    margin: 60px 15px;
  }
  .shopping_m .shopping_cont {
    display: flex;
    height: 120px;
    margin: 0 10px 0 10px;
  }
  .shopping_cart .shopping_m hr {
    margin: 0;
  }
  .shopping_m .shopping_cont1.shopping_cont2 {
    display: flex;
    height: 120px;
    justify-content: space-between;
    margin: 0;
  }
  .shopping_m .shopping_cont1 {
    display: flex;
    height: 130px;
    justify-content: space-between;
    margin-top: 20px;
  }
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_right_text .down,
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_right_text .up {
    float: left;
    width: 24px;
    height: 20px;
    line-height: 16px;
    font-weight: 700;
    color: #555;
    border: 1px solid #ddd;
    background: #ddd;
    margin: 5px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart
    .shopping_m
    .shopping_cont
    .shopping_cont_right_text
    .input_number {
    float: left;
    width: 24px;
    color: #111;
    height: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 5px 0;
    line-height: 12px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart .shopping_m .shopping_cont1 .shopping_cont_right_text .down,
  .shopping_cart .shopping_m .shopping_cont1 .shopping_cont_right_text .up {
    float: left;
    width: 24px;
    height: 20px;
    line-height: 16px;
    font-weight: 700;
    color: #555;
    border: 1px solid #ddd;
    background: #ddd;
    margin: 5px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart
    .shopping_m
    .shopping_cont1
    .shopping_cont_right_text
    .input_number {
    float: left;
    width: 24px;
    color: #111;
    height: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 5px 0;
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart .shopping_m .shopping_cont .img_box {
    width: 75px;
    height: 77px;
    border: 1px solid #ddd;
    margin-left: 12px;
    margin-right: 0px;
    float: left;
    margin-top: 8px;
    box-sizing: border-box;
  }
  .shopping_cart .shopping_m .shopping_cont1_left {
    display: flex;
  }
  .shopping_cart .shopping_m .shopping_cont .img_box img {
    width: 75px;
    height: auto;
  }
  .shopping_m .shopping_cont_text {
    display: flex;
    flex-direction: column;
    /* width: 332px; */
    padding: 5px;
  }
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_left_text,
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_right_text {
    font-size: 12px;
  }
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_text1 {
    line-height: 35px;
  }
  .shopping_cart .shopping_m .shopping_cont_text .prd_tit {
    font-size: 0.85rem;
    line-height: 1.3;
    font-weight: 400;
    display: block;
    font-size: 13px;
    height: auto;
    color: #333;
  }

  .shopping_cart .shopping_m .shopping_cont_text_list {
    display: flex;
    padding: 3px 6px;
  }

  .shopping_cart .shopping_m .shopping_cont_left_text,
  .shopping_cart .shopping_m .shopping_cont_right_text {
    padding: 4px 8px;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .input_number {
    width: 40px;
    float: left;
    height: 26px;
    color: #111;
    margin: 5px 0;
    padding: 1px 2px;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .prd_price {
    font-size: 13px;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .edit_btn {
    width: 34px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #ddd;
    margin: 5px;
    background: #f7f7f7;
    padding: 0 8px;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .down {
    float: left;
    width: 24px;
    height: 26px;
    padding: 0 10px;
    margin: 5px 0;
    font-weight: 700;
    color: #555;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart .shopping_m .shopping_cont_right_text .up {
    float: left;
    width: 24px;
    height: 26px;
    font-weight: 700;
    color: #555;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 5px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  .shopping_cart .shopping_m .shopping_info {
    display: flex;
    padding: 12px 11px;
    height: 57px;
    justify-content: space-between;
  }
  .shopping_cart .shopping_m .shopping_info_cont_right {
    text-align: right;
  }
  .shopping_cart .shopping_m .shopping_info_cont_left,
  .shopping_cart .shopping_m .shopping_info_cont_right {
    font-size: 12px;
    color: #333;
  }
  .shopping_cart .shopping_m .shopping_btn {
    margin: 20px auto;
    padding: 0 8px;
  }
  .shopping_cart .shopping_m .shopping_btn .btn_small {
    display: inline-block;
    height: 28px;
    line-height: 26px;
    padding: 0 12px;
    font-size: 12px;
    color: #444;
    letter-spacing: -0.07em;
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-right-color: #bbb;
    border-bottom-color: #bbb;
  }
  .shopping_cart .shopping_m .order_member_btn {
    margin-top: 20px;
  }
  .shopping_cart .shopping_m .order_member_btn .crt_del {
    color: #999;
    font-size: 12px;
    margin-left: 10px;
  }
  .shopping_cart .order_member_btn .shop_btn {
    background: #333;
    border-color: #333;
    color: #fff;
  }
  .shopping_cart .shopping_m .order_member_btn {
    justify-content: start;
    width: 100%;
  }
  .shopping_cart .shopping_m .order_member_btn_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  /* .shopping_cart .shopping_m .order_member_btn .on {
    width: 4%;
    height: 50px;
    font-size: 18px;
  } */
  .shopping_cart .shopping_m .order_member_btn .shopping_cart_btn {
    display: none;
  }

  .shopping_cart .shopping_m .crt_total {
    padding: 20px 15px;
  }
  .shopping_cart .shopping_m .crt_total_cont {
    display: flex;
    justify-content: space-between;
    color: #111;
    font-size: 14px;
  }
  .shopping_cart .shopping_m .crt_total_cont_left {
    font-size: 14px;
    color: #555;
  }
  .shopping_cart .shopping_m .crt_total_cont_right {
    text-align: right;
  }

  /* login */
  .login_page_wrap .input_list {
    width: 100%;
    position: relative;
  }
  .login-form .input_list input {
    z-index: 8;
    width: 100%;
    height: 50px;
    padding-left: 130px;
    color: #333;
    font-size: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
  }
  .login-form .input_list label {
    position: absolute;
    left: 10%;
    top: 3%;
    height: 50px;
    line-height: 50px;
    color: #999;
    z-index: 9;
  }
  .login-form .input_list .label2 {
    position: absolute;
    left: 10%;
    top: 55%;
    height: 50px;
    line-height: 50px;
    color: #999;
    z-index: 9;
  }

  /* mobile end */

  /********* product list ***********/
  .product_list .product_content_container .product_title {
    display: none;
  }
  .product_list .product_content_container .count {
    display: block;
  }
  .product_cards_container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .product_price_list .product_cost {
    font-size: 13px;
  }

  /************* notice ****************/

  .notice_container .notice_title {
    font-size: 20px;
    line-height: 40px;
  }

  .notice_body_table td {
    text-overflow: ellipsis;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
  }
  .notice_body_table .date {
    text-align: end;
  }
  .notice_body_table td:nth-child(1) {
    display: none;
  }
  .notice_body_table td:nth-child(3) {
    display: none;
  }
  .notice_body_table td:nth-child(4) {
    max-width: 150px;
  }
  .notice_body_table td:nth-child(5) {
    display: none;
  }
  .notice_common_table.view td {
    font-size: 12px;
  }

  /* qna responsive */

  .qna_common_table td {
    width: 25%;
  }

  .qna_common_table.view th {
    min-width: 80px;
  }
  .qna_common_table.view td {
    min-width: 100px;
  }
  .th_text_pre {
    min-width: 100px;
    text-align: center;
  }
  .text-td {
    padding-left: 0;
    font-size: 14px;
  }
  /************* faq *************/
  .category_list a {
    font-size: 11px;
  }
  .accordion-header {
    font-size: 13px;
  }
  .accordion a {
    font-size: 14px;
  }
  .accordion-body {
    font-size: 13px;
    min-height: 90px;
  }
  .accordion-body .faq_ttl {
    margin-top: 20px;
    min-width: 30px;
    padding-left: 10px;
  }
  .accordion-item .faq_ttl {
    font-size: 30px;
  }
  /* qna */
  .table_body_container .qna_body_table td {
    text-overflow: ellipsis;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
  }
  .table_body_container .qna_body_table td:nth-child(1) {
    display: none;
  }
  .table_body_container .qna_body_table td:nth-child(3) {
    display: none;
  }
  .table_body_container .qna_body_table td:nth-child(4) {
    max-width: 150px;
  }
  .table_body_container .qna_body_table td:nth-child(5) {
    display: none;
  }
  .table_container3 {
    overflow-y: auto;
    overflow-x: scroll;
  }
  .table_container3 .ttl {
    font-size: 11px;
  }
  .table_container3 .ttl a {
    font-size: 12px;
  }
  .table_container3 .qna_body_table th,
  .table_container3 .review_body_table th {
    font-size: 14px;
  }
  .qna_body_table td {
    text-overflow: ellipsis;
    max-width: 70px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
  }
  .list_menu_container .list_menu li a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.045rem;
  }
  .community_list_menu {
    display: block;
  }
  .form_container {
    display: none;
  }

  /* product search */

  .product_search_list li .wish_btn {
    left: 160px;
  }
  .product_search_list .search_detail {
    font-size: 15px;
  }
  .product_search_list .img_box {
    width: 200px;
    height: 200px;
  }
  .product_search_list li .wish_btn {
    right: 90px;
  }
  .product_search_table th {
    font-size: 10px;
    width: 100px;
  }
  .product_search_table th {
    width: 8%;
    font-size: 8px;
  }
  .product_search_list .img_box {
    width: 200px;
  }
  .product_search_list li .wish_btn {
    right: 90px;
  }
  .product_search_list .product_item_title {
    font-size: 12px;
  }
  .product_search_list .product_price_list .product_price {
    font-size: 14px;
  }
  .product_search_list .product_price_list .product_discount_precent {
    color: var(--bs-primary);
  }
  .product_search_table select {
    width: 200px;
    height: 25px;
    line-height: 20px;
    font-size: 11px;
  }
  .product_search_table td {
    width: 20%;
  }
  .product_search_table .name_td {
    min-width: 90px;
  }
  .product_search_table .price_input {
    width: 60px;
    height: 25px;
  }
  .product_search_table .submit_btn {
    width: 70px;
    height: 80px;
    font-size: 14px;
  }

  .product_search_table .input {
    width: 80px;
    height: 25px;
    font-size: 10px;
  }
  .product_search_area {
    padding-left: 10px;
    padding-right: 10px;
  }
  .reserve_ttl {
    display: none;
  }

  .delivery_address_title {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }
  .delivery_address_title .order_ttl {
    float: left;
    padding: 0;
    font-size: 19px;
  }
  .delivery_address_title .delivery_address_chk_box {
    float: right;
    padding-top: 5px;
  }

  /* mobile */
  .shopping_order_table .tax_table {
    border: none;
  }

  /*  */
  .npay_button_box {
    margin-bottom: 60px;
  }
  /* main */
  .sec_03 {
    height: 350px;
  }
  .sec_03 .swiper-slide-active {
    min-height: 250px;
    width: 170px;
  }
  .sec_03 .sec_03_swiper_item {
    max-width: 170px;
    height: 200px;
  }
  .sec_03 .sec_03_product_desc h5 {
    font-size: 25px;
    font-weight: 500;
  }
  .sec_04 .sec_04_items {
    grid-template-columns: 1fr 1fr;
  }
  .sec_05 .sec_05_item {
    display: block;
  }
  .sec_05 .sec_05_item .sec_05_left {
    display: flex;
    gap: 15px;
    height: 300px;
  }
  .sec_05 .sec_05_item .sec_05_left .img {
    width: 260px;
  }

  .sec_05 .sec_05_item .sec_05_left .img img {
    width: 260px;
    height: 300px;
  }

  .sec_05 .sec_05_item .sec_05_left .txt {
    margin-top: 100px;
    font-size: 22px;
  }
  .sec_05_left .m_custom_item_price {
    margin-top: 20px;
    font-size: 12px;
  }
  .sec_05 .sec_05_right {
    margin-top: 40px;
  }
  .sec_05 .sec_05_right_items {
    gap: 10px;
  }
  .sec_05 .sec_05_right_items .m_custom_item_img {
    height: 160px;
  }

  .sec_05 .sec_05_right_tit {
    text-align: center;
  }
  .sec_05 .sec_05_right_desc {
    text-align: center;
    margin: 10px 0;
  }
  .sec_05 .sec_05_right_items .m_custom_item_txt {
    height: 90px;
  }
  .sec_05_right_items .m_custom_item_price {
    font-size: 12px;
  }
  .sec_05 .sec_05_right_button_wrap {
    justify-content: center;
    margin-top: 20px;
  }
  .swiper-button-prev:after {
    --swiper-navigation-size: 30px;
  }
  .swiper-button-next:after {
    --swiper-navigation-size: 30px;
  }

  /* mobile community */
  .notice_m {
    width: 100%;
    padding: 30px 3% 50px;
    box-sizing: border-box;
  }
  .notice_m .notice_view {
    border-top: 1px solid #333;
  }
  .notice_view_th {
    padding: 12px 10px;
    text-align: left;
    color: #222;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 14px;
    font-weight: 500;
  }
  .notice_view_td {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
  }
  .notice_view_td .date {
    font-size: 12px;
    color: #999;
    font-weight: normal;
  }
  .notice_m .notice_cont_text {
    padding: 25px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #222;
    font-family: "Lato", "NotoSans", "Apple SD Gothic Neo", sans-serif;
    line-height: 1.2;
  }
  .notice_m .nextpre_post th {
    padding: 12px 10px;
    text-align: left;
    color: #333;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 12px;
    width: 20%;
  }
  .notice_m .nextpre_post td {
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
  }
  .notice_m .input_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 16px;
  }
  .notice_m .input_btn a {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px 8px;
    background: #fff;
    margin: 0;
    height: auto;
    text-align: center;
    font-size: 13px;
    font-family: "Lato", "NotoSans", "Apple SD Gothic Neo", sans-serif;
    line-height: 18px;
    color: #222;
  }

  /* mobile community end */

  /* mobile notice_write_form */
  .notice_write_form {
    padding: 30px 13px 50px;
  }
  .notice_write_form h3 {
    text-align: right;
    font-size: 13px;
    color: #666;
    line-height: 18px;
    font-weight: 300;
  }
  .notice_write_form .notice_write_form_table.view {
    border-top: 1px solid #111;
  }
  .notice_write_form .notice_write_form_table.view th {
    min-width: 70px;
    background: #f8f8f8;
    padding: 8px 4px;
    height: auto !important;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    font-weight: 300;
    color: #666;
  }
  .notice_write_form .notice_write_form_table.view td {
    padding: 8px 4px;
    width: calc((100% - 140px) / 2);
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    height: 28px;
    font-weight: 300;
    color: #666;
  }
  .notice_write_form .notice_input,
  .notice_write_form .notice_input1 {
    height: 28px !important;
    outline: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
    color: #222;
  }
  .notice_write_form .notice_input_psd {
    outline: 0;
    width: 100%;
    height: 28px;
    border: 1px solid #ddd;
    padding: 6px 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
    color: #222;
  }
  .notice_write_form .notice_write_form_table.view p {
    padding: 4px 0px 0px 8px;
    font-size: 12px;
  }
  .notice_write_form .notice_write_form_table.view .form_input_check_box {
    margin: 0px 0px 3px;
    width: 100%;
    text-align: left;
    font-size: 13px;
  }
  .notice_write_form .notice_write_form_table.view td textarea {
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 6px 4px;
    font-size: 13px;
    height: 247px;
    color: #222;
    line-height: 18px;
  }
  .notice_write_form .notice_write_form_table.view .notice_input_file {
    padding: 0;
  }
  .notice_write_form .notice_write_form_table.view img {
    width: 81px;
    vertical-align: middle;
    height: 21px;
    border: 1px solid #343d4f;
  }
  .notice_write_form .notice_write_form_table.view .notice_input_reg {
    height: 26px;
    padding: 6px 4px;
    border: 1px solid #ddd;
  }
  .notice_write_form .input_btn .on_btn {
    background: #666;
    color: #fff;
    border-color: #666;
  }
  /* mobile notice_write_form end */

  /* mobile_shopping_cart */
  .shopping_cart .shopping_m .shopping_cont .shopping_cont_text1 {
    line-height: 32px;
  }
  /* mobile_shopping_cart end */
}

@media screen and (max-width: 483px) {
  .notice select {
    padding: 7px 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 12px;
  }

  .notice .section_select {
    margin: 20px 0;
    font-size: 12px;
    float: right;
  }
  .section_select .select {
    height: 30px;
    padding: 0px 10px 0px 5px;
  }
  .notice .input {
    border: 1px solid #ddd;
    width: 80px;
    height: 30px;
    font-size: 12px;
    box-sizing: border-box;
  }
  .notice .title_container {
    padding: 0;
    margin: 0;
  }
  .notice .title_container .title {
    display: none;
  }
  .notice select {
    padding: 7px 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 12px;
  }
  .section_select .btns {
    font-size: 12px;
    width: 50px;
    height: 30px;
    background: #111;
    color: #fff;
    text-align: center;
  }
  .notice .community_list_menu {
    display: none;
  }
  /* mobile notice end */

  /********* product list ***********/
  .product_list {
    margin-top: 30px;
  }

  .product_content_container .count {
    text-align: start;
  }

  .product_cards_container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .product_cards_container .product_img {
    height: 150px;
  }
  .product_card_item .product_item_title {
    font-size: 13px;
  }

  .product_price_list .product_price {
    font-size: 16px;
  }
  .product_price_list .product_cost {
    font-size: 13px;
  }
  .accordion-header {
    font-size: 11px;
  }
  .faq .accordion a {
    font-size: 12px;
  }
  .faq .accordion-body {
    font-size: 11px;
    min-height: 90px;
  }
  .faq .accordion-body .faq_ttl {
    margin-top: 20px;
    min-width: 30px;
    padding-left: 10px;
  }
  .faq .accordion-item .faq_ttl {
    font-size: 20px;
  }
  .community_board_btn .right {
    float: left;
  }
  .community_board_btn .right .btn {
    display: none;
  }
  .community_board_btn a {
    height: 30px;
    padding: 0 12px;
    line-height: 24px;
  }
  .notice .qna_footer {
    display: none;
  }
  .notice .page_btns {
    margin: 30px 0 10px;
  }
  /* mobile faq */
  .faq .title_container {
    display: flex;
    justify-content: end;
    margin: 10px 0;
  }
  .faq select {
    font-size: 12px;
    width: 80px;
    height: 30px;
  }
  .faq .input {
    border: 1px solid #ddd;
    width: 80px;
    height: 30px;
    font-size: 12px;
    box-sizing: border-box;
  }
  .faq .section_select .btns {
    font-size: 12px;
    width: 50px;
    height: 30px;
    line-height: 10px;
    background: #111;
    color: #fff;
    text-align: center;
  }
  .faq .qna_footer {
    display: none;
  }
  .faq .community_board_btn {
    display: none;
  }
  .faq .title_container .title {
    display: none;
  }
  .faq .section_select {
    display: block;
    font-size: 12px;
  }
  .faq .community_list_menu {
    display: none;
  }
  /* mobile faq end */

  /*********** faq ***************/
  .faq_body_table td {
    font-size: 11px;
  }

  .community_list_menu .list_menu li a {
    font-size: 11px;
  }
  .community_list_menu .list_menu li {
    height: 40px;
    line-height: 40px;
  }

  .notice_common_table tr {
    width: 100%;
  }
  .notice_common_table.view th {
    min-width: 80px;
    font-size: 12px;
  }
  .notice_common_table.view td {
    min-width: 200px;
    font-size: 10px;
  }
  .notice_body_table a {
    font-family: "NotoSans", sans-serif;
    font-size: 12px;
  }
  .notice_body_table .date {
    font-family: "NotoSans", sans-serif;
    font-size: 12px;
  }
  /* shopping_order */
  .shopping_order .button_common .cancel_btn {
    font-size: 13px;
  }
  .shopping_order .button_common .submit_btn {
    font-size: 13px;
  }
  /* qna responsive */

  .qna_common_table th {
    font-size: 12px;
  }
  .qna_common_table td {
    font-size: 12px;
  }

  .qna_common_table tr {
    width: 100%;
  }
  .qna_common_table.view th {
    min-width: 60px;
    font-size: 12px;
  }
  .qna_common_table.view td {
    min-width: 100px;
    font-size: 11px;
  }
  .th_text_pre {
    min-width: 60px;
    text-align: center;
    font-size: 12px;
  }
  .text-td {
    padding-left: 0;
    font-size: 12px;
  }
  /* mobile order */
  .shopping_cart .shopping_m .shopping_cont_left_text {
    width: 60px;
    padding: 0px;
  }
  .shopping_cart .shopping_m .shopping_cont1 .check_box {
    width: 15px;
    height: 15px;
  }
  /*  */
  .qna_prd_info .ttl .name {
    font-size: 10px;
  }
  .qna_prd_info .ttl {
    min-width: 200px;
  }

  /* product search */
  .product_search_area {
    padding-left: 5px;
    padding-right: 0px;
  }
  .product_search_table .price_box {
    display: none;
  }
  .product_search_table th {
    font-size: 10px;
    width: 100px;
  }
  .product_search_table th {
    width: 19%;
    font-size: 8px;
  }
  .product_search_table select {
    width: 200px;
    height: 25px;
    font-size: 11px;
  }
  .product_search_table td {
    width: 25%;
  }
  .product_search_table .name_td {
    min-width: 70px;
  }
  .product_search_table .price_input {
    width: 60px;
    height: 20px;
  }
  .product_search_table .submit_btn {
    width: 50px;
    height: 60px;
    font-size: 8px;
  }

  .product_search_table .input {
    width: 60px;
    height: 20px;
    font-size: 10px;
  }
  /* shopping  */
  /* .shopping_order_table {
    min-height: 550px;
  } */

  .shopping_order_table.shop_order_table {
    height: 600px;
    width: 100%;
  }
  .shop_order_table2 {
    min-height: 500px;
  }
  .shopping_order_table,
  .shopping_order_table tbody,
  .shopping_order_table tr {
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    border: none;
    display: block;
  }

  .shopping_order_table .val .input {
    width: 90px;
  }
  .shopping_order_table .td_label {
    width: 100%;
    margin-top: 10px;
  }
  .shopping_order_table .td_label2 {
    min-width: 100%;
    height: 50px;
    margin-top: 10px;
  }
  .shopping_order_table .input_name {
    width: 100%;
    margin-top: 5px;
  }
  .shopping_order_table .input_email {
    min-width: 100%;
    margin-top: 5px;
  }
  .shopping_order_table .td_content2 {
    width: 152px;
  }
  .shopping_order_table .td_content2 .input_send {
    width: 100px;
    margin-right: 5px;
    margin-top: 8px;
  }
  .shopping_order_table .td_content2 button {
    width: 80px;
    margin-top: 7px;
    font-size: 10px;
  }
  .shopping_order_table button.post_btn {
    margin-top: 0px;
  }
  .shopping_order_table .input {
    width: 90%;
  }
  .shopping_order_table .input_text {
    min-width: 100px;
    font-size: 20px;
  }
  .shop_order_table .input_send {
    min-width: 60px;
  }
  .shopping_order_btn.button_list_conts {
    margin: 0 0 20px 0;
  }
  .shop_td_row {
    height: 200px;
  }
  .shopping_order_table textarea.input {
    min-width: 100%;
    margin-top: 5px;
    height: 70px;
  }
  .shopping_order_table .input_coupon {
    min-width: 90px;
  }
  .reserve_ttl {
    display: none;
  }

  .tax_table,
  .tax_table1 {
    display: block;
    height: auto;
  }
  .tax_table1 {
    margin-bottom: 0px;
  }
  .tax_table1 .input_box_item {
    width: 50px;
    height: 25px;
  }

  .button_list_conts button {
    width: 150px;
  }
  .product_search .count {
    font-size: 14px;
  }

  .product_search .select {
    width: 150px;
  }

  /* inquiry  */
  .inquiry .inquiry_title_box {
    font-size: 12px;
  }
  .inquiry .category_list a {
    font-size: 13px;
  }
  .inquiry .accordion a {
    font-size: 12px;
  }
  .inquiry .button_list a {
    padding: 6px 50px;
    font-size: 13px;
  }
  .inquiry .faq_ttl {
    font-size: 17px;
  }
  .inquiry .inquiry_ttl {
    font-size: 17px;
  }
  /**************** main ******************************/
  .main section {
    margin-top: 40px;
  }
  .main_banner {
    height: 300px;
  }
  .sec_03 {
    height: 320px;
  }
  .sec_03 .swiper-slide-active {
    min-height: 230px;
    min-width: 180px;
  }
  .sec_03 .sec_03_swiper_item {
    max-width: 140px;
    height: 180px;
  }
  .sec_03 .sec_03_product_desc h5 {
    font-size: 20px;
  }

  .sec_03 .sec_03_product_desc p {
    font-size: 10px;
  }
  .sec_03 .sec_03_product_desc .product_discount_price {
    font-size: 14px;
  }
  .sec_03 .sec_03_product_imgs {
    margin-left: 190px;
  }
  .sec_04 .sec_04_items {
    gap: 20px;
  }
  .m_custom_item_img {
    height: 170px;
  }
  /* main */
  .sec_04 .sec_04_items {
    grid-template-columns: 1fr 1fr;
  }
  .sec_05 .sec_05_item {
    display: block;
  }
  .sec_05 .sec_05_item .sec_05_left {
    gap: 15px;
    height: 200px;
    width: 220px;
  }

  .sec_05 .sec_05_item .sec_05_left .img img {
    width: 180px;
    height: 200px;
  }

  .sec_05 .sec_05_item .sec_05_left .txt {
    margin-top: 60px;
    font-size: 14px;
    min-width: 200px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt h5 {
    font-size: 15px;
  }
  .sec_05 .sec_05_item .sec_05_left .txt .m_custom_item_price {
    margin-top: 20px;
    font-size: 12px;
  }
  .sec_05
    .sec_05_item
    .sec_05_left
    .txt
    .m_custom_item_price
    .product_discount_price {
    font-size: 14px;
    font-weight: 500;
  }
  .sec_05 .sec_05_right {
    margin-top: 40px;
  }
  .sec_05 .sec_05_right_items {
    gap: 10px;
    display: block;
  }
  .sec_05 .sec_05_right_items .m_custom_item {
    margin-bottom: 30px;
  }
  .sec_05 .sec_05_right_items .m_custom_item_img {
    height: 160px;
  }

  .sec_05 .sec_05_right_tit {
    text-align: center;
  }
  .sec_05 .sec_05_right_desc {
    text-align: center;
    margin: 10px 0;
  }
  .sec_05 .sec_05_right_items .m_custom_item_txt {
    height: 80px;
  }
  .sec_05_right_items .m_custom_item_price {
    font-size: 15px;
  }
  .sec_05 .sec_05_right_button_wrap {
    display: block;
    margin-top: 5px;
  }
  .more_button {
    width: 100%;
  }
  .swiper-button-prev:after {
    --swiper-navigation-size: 30px;
  }
  .swiper-button-next:after {
    --swiper-navigation-size: 30px;
  }
}
