@charset "utf-8";

/*-------------------------------------------------------------------
    File definition: Pages contents css
    Order: Sub Banner > Sub contents ...
-------------------------------------------------------------------*/
/* mypage start */
.my_page .gry_bar {
  display: none;
}

/* mypage end */
/* member_join  */

.member_join_box{
  width: 100%;
  height: 180px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  padding: 16px;
  background: #f6f6f6;
  box-sizing: border-box;
  overflow-y: scroll;
  outline: none;
}
.join_agree_all {
  text-align: center;
  background: #f6f6f6;
  border: 1px solid #ddd;
  margin: 20px 0 0;
  padding: 10px 0;
}
.member_join_cont1 {
  margin: 0px 0px 40px;
}
.member_join_cont1 .member_join_header {
  margin: 0px 0px 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.045rem;
  color: #333;
}
.member_join_cont .button_list_conts_pc_hidden{
  padding: 16px 0px;
}
.member_join_cont1 .join_arg1_cont label{
  color: #555;
}
/*  */
.text_hidden_cont {
  margin-top: 30px;
}
.order_detail_cont {
  margin-top: 10px;
}
.qna_cont {
  margin-top: 30px;
}
.detail_cont {
  margin-top: 30px;
}
.my_favorite {
  margin: 20px 0;
}
.reserve_cont {
  margin-top: 30px;
}
.coupon_cont {
  margin-top: 30px;
}
.mall_info {
  margin-top: 30px;
}
/* mypage_withdrawal start */
.mypage_withdrawal .text_conts .text {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.045rem;
  font-weight: 500;
  color: #333;
}
.mypage_withdrawal .notice_cont {
  margin: 4px auto 25px;
}
.mypage_withdrawal .notice_cont li {
  font-size: 14px;
  letter-spacing: -0.045rem;
  line-height: 18px;
  font-weight: 500;
  color: var(--bs-primary);
}
.mypage_withdrawal .checkbox_cont {
  margin-left: 16px;
}
.mypage_withdrawal .checkbox_cont label {
  letter-spacing: -0.025rem;
  font-size: 15px;
  margin: 0;
  color: #555;
}
/* mypage_withdrawal end*/

/* myorder start */
.order_cont .table_cont th {
  color: #333;
}
.text_hidden {
  font-size: 0.75rem;
  color: #999;
  line-height: 1.3;
  margin: 0.625rem 0rem;
  display: none;
}
/* myorder end */

/* myorder_detail start */
.my_order_detail .table_cont .td_label6 {
  color: #555;
}
.my_order_detail .table_cont .td_label6_sub {
  color: #555;
}

/* myorder_detail end */

/* myqna start */
.qna_footer {
  margin: 0 0 50px;
}
.search_cont form {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.search_cont {
  margin: 30px 0 0;
  text-align: center;
  padding: 10px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #999 var(--bs-white) #ddd;
  background-color: #f7f7f7;
}
.search_cont .select {
  appearance: none;
  background: url(/assets/imgs/sub02/mypage_qna/sel_arr.png) calc(100% - 16px)
    50% no-repeat;
  height: 34px;
  padding: 0px 35px 0px 5px;
  border: 1px solid #ccc;
  background-color: var(--bs-white);
  font-size: 13px;
  color: #333;
  margin: 0;
}
.search_cont input {
  width: 210px;
  height: 34px;
  line-height: 32px;
  font-size: 14px;
  color: #333;
  padding: 0 0 0 5px;
  margin: 0;
  background-color: var(--bs-white);
  border: 1px solid #ccc;
}
.search_cont button {
  width: 70px;
  height: 34px;
  line-height: 34px;
  background-color: #555;
  color: var(--bs-white);
  font-size: 14px;
  letter-spacing: -0.045rem;
  border: none;
  padding: 0;
  margin: 0;
}
.qna_cont .table_cont .td_middle {
  text-align: left;
}
/* myqna end */

/* myqna_create start */
.my_qna_create .table_cont .td_label {
  width: 180px;
  height: 75px;
  border-right: 1px solid #ddd;
  padding: 0px 0px 0px 18px;
}
.my_qna_create .table_cont td {
  font-size: 15px;
  letter-spacing: -0.025rem;
  color: #555;
  line-height: 19px;
  padding: 12px 0px 12px 18px;
}
.my_qna_create .table_cont input[type="text"] {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  padding: 0px 0px 0px 10px;
}
.table_cont textarea {
  width: 100%;
  height: 190px;
  border: 1px solid #ddd;
  padding: 10px 0px 10px 10px;
}
.my_qna_create .btn_cont {
  margin: 30px auto;
  text-align: center;
}
.my_qna_create .btn_cont .right a {
  width: 75px;
  height: 25px;
  background-color: #333;
  border-color: #333;
  color: var(--bs-white);
  line-height: 0px;
  align-items: center;
  text-align: center;
}
.my_qna_create .btn_cont .right .리스트 {
  width: 77px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: var(--bs-white);
  color: #333;
  border: 1px solid #ccc;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 77%,
    rgba(247, 247, 247, 1) 100%
  );
}
/* myqna_create end */

/* myqna_detail start */

/* myqna_detail end */

/* mypage_address start */

/* mypage_address end */

/* mypage_myorder_detail start */
.my_order_detail .order_detail_cont .table_cont .td_label4 img {
  width: 60px;
  height: 60px;
}
.order_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.065rem;
  color: #111;
  margin: 30px auto 0;
}
/* mypage_myorder_detail end*/

/* mypoint start */
.my_point .reserve_cont {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px;
  border: 1px solid #ddd;
  text-align: center;
  margin-bottom: 35px;
  box-sizing: border-box;
}
.my_point .reserve_list {
  display: flex;
  align-content: center;
  align-items: center;
}
.my_point .reserve_list li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
}
.my_point .reserve_list li:first-child {
  padding-right: 60px;
}
.my_point .reserve_list li:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 50px;
  background-color: #ddd;
  margin: -25px 0 0;
}
.my_point .reserve_list .title {
  display: block;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: #555;
  margin-bottom: 4px;
}
.my_point .reserve_list .price {
  font-size: 26px;
  font-weight: 400;
  color: #333;
}
.my_point .reserve_list .price strong {
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  margin-right: 4px;
}
.my_point .point {
  width: 80px;
  height: 80px;
  line-height: 78px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-right: 20px;
  box-sizing: border-box;
}
.my_point .point_cont .table_cont .td_label {
  text-align: center;
}
/* mypoint end */

/* mypage_favorite start */
.my_page .my_favorite {
  margin-top: 12px;
}
.favorite_pd_found_gp {
  border: none !important;
  margin: 0 !important;
}
.favorite_cont .table_cont input[type="checkbox"] {
  height: 13px;
  width: 13px;
}
.my_favorite.pc_hidden_p1{
  display: none !important;
}
/* mypage_favorite end */

.center_company {
  min-height: 600px;
  margin-bottom: 50px;
}
.center_company .center_company_header_hidden {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.045rem;
  color: #111;
  margin-bottom: 25px;
  display: none;
}
/* center_guide start */
.my_page .page_area p {
  height: fit-content;
  letter-spacing: -0.045rem;
  line-height: 30px;
}
/* center_guide end */

/* member_mall info start */
.mall_info .center_company {
  padding: 20px 0px 30px;
}
.mall_info .button_list_conts .go_mall {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 30px auto;
}
.button_list_conts_hidden {
  display: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.025rem;
  background: #ef4023;
  border: none;
}
.button_list_conts_hidden a {
  color: #fff;
}
/* member_mall info end */

/* member_mall join start */
.member_join_area textarea {
  background-color: #f6f6f6;
  padding: 16px;
}
.join_text_area {
  border-bottom: 1px solid #ddd;
  margin: 0px 0px 40px;
  padding: 0px 0px 40px;
}
.join_text_area .member_join_title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.045rem;
  color: #333;
  margin-bottom: 20px;
}
.join_arg1_cont {
  display: flex;
  justify-content: flex-end;
}
.join_arg1_cont label {
  margin: 0px 6px 0px 2px;
}
/* member_mall join end */

/* order pay start */
.order_pay .select {
  appearance: none;
  background: url(/assets/imgs/sub02/mypage_qna/sel_arr.png) calc(100% - 16px)
    50% no-repeat;
  height: 40px;
  padding: 0px 40px 0px 10px;
  border: 1px solid #ccc;
  background-color: var(--bs-white);
  font-size: 13px;
  color: #333;
  margin: 0;
}
.order_pay input {
  min-width: 200px;
  line-height: 38px;
  font-size: 14px;
  height: 40px;
  padding: 0px 8px;
  border: 1px solid #ddd;
  color: #333;
}
.button_list_conts .link_btn_container a {
  display: inline-block;
  width: 200px;
  height: 55px;
  line-height: 53px;
  text-align: center;
  font-size: 17px;
  color: #999;
  letter-spacing: -0.065rem;
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Lato", "NotoSans", sans-serif;
  vertical-align: middle;
  margin: 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
}
.button_list_conts .link_btn_container .submit_btn {
  background-color: #222;
  border-color: var(--bs-black);
  color: var(--bs-white);
}
.button_list_conts .link_btn_container .submit_btn:hover {
  background-color: var(--bs-black);
}
.button_list_conts .link_btn_container .cancel_btn {
  background-color: var(--bs-white);
  color: #999999;
  text-align: center;
}
.button_list_conts .link_btn_container .cancel_btn:hover {
  border-color: #999;
  color: #777;
}
/* order pay end */

/* store company term start */
.store_company_terms_header {
  margin: 30px 0 0 0;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.065rem;
  color: #111;
}
.store_company_terms .form_table .td_content input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 0px 8px;
  margin: 4px 0px 4px 16px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}
.store_company_terms .form_table .td_content_sub3 {
  margin: 4px 0px 4px 16px;
}
.store_company_terms .form_table .td_content_sub3 span {
  margin-left: 16px;
  color: #555;
}
.store_company_terms .form_table .td_content button {
  width: auto;
  height: 30px;
  line-height: 28px;
  border: 1px solid #555;
  background-color: var(--bs-gray);
  font-size: 14px;
  color: var(--bs-white);
  letter-spacing: -0.045rem;
  padding: 0 12px;
  cursor: pointer;
  margin: 3px 0px 3px 0px;
  align-content: center;
}
.store_company_terms .form_table .td_content button:hover {
  background-color: var(--bs-black);
}
.store_company_terms .form_table .td_content_sub3 input[type="text"] {
  width: 247px;
  height: 30px;
  padding: 0px 8px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  color: #555;
}
.store_company_terms .form_table .td_content .sub_span_container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.store_company_terms .form_table .td_content .sub_container {
  display: flex;
  gap: 5px;
  margin: 4px 0px 4px 16px;
  align-content: center;
  align-items: center;
}
.store_company_terms .form_table .td_content_sub3 input[type="text"] {
  width: 247px;
  margin-left: 0;
}
/* store company term end */

.gry_bar_pc_hidden {
  display: none;
}

/* for mobile new */
.my_page_cont_pc_hidden {
  display: none;
}
.form_table_container_pc_hidden {
  width: 100%;
  padding: 16px 3%;
  box-sizing: border-box;
}
.form_table_container_pc_hidden .data_table {
  margin: 12px auto 0;
}
.data_table dt {
  font-size: 15px;
  /* font-weight: 500; */
  color: #555;
  line-height: 1.3;
  letter-spacing: -0.05em;
}
.data_table dd {
  font-size: 0.95rem;
  vertical-align: middle;
  margin: 10px 0 0;
}
.data_table dt i {
  font-style: normal;
  color: #ff3131;
}
.data_table dt small {
  font-size: 0.7rem;
  color: #999;
  letter-spacing: -0.05em;
}
.data_table dd input[type="password"],
.data_table dd input[type="text"] {
  width: 100%;
  height: 2.2rem;
  font-size: 0.95rem;
  color: #333;
  background-color: #fff;
  padding: 0 0 0 1rem;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.data_table dd select {
  min-width: 3.75rem;
  max-width: 100%;
  height: 2.35rem;
  padding: 0 1.9rem 0 0.7rem;
  margin: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  border-radius: 3px;
}
.data_table dd label {
  display: inline-block;
  margin: 0 8px 0 0;
  font-size: 14px;
}
.data_table dd button {
  height: 2.2rem;
  background-color: var(--bs-gray);
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  padding: 0 0.75rem;
  border-radius: 3px;
  border: 1px solid #888;
}
.data_table dd button:hover{
  background-color: var(--bs-black);
}
.order_list_wrap {
  width: 100%;
  padding: 0;
  margin: 20px 0 0;
  box-sizing: border-box;
}
.order_list_wrap .order_list {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.order_list h2 {
  width: 100%;
  height: auto;
  padding: 10px 3%;
  background: #f9f9f9;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.045rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.order_list .info_box {
  width: 100%;
  padding: 10px 3%;
  box-sizing: border-box;
}
.order_list .info_box .order_info {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 6px;
}
.order_list .info_box .order_info span {
  display: inline-block;
  vertical-align: middle;
}
.order_list .info_box .order_info .id:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #ddd;
  margin: 0 6px 0 5px;
  vertical-align: middle;
}
.order_list .info_box .order_info .id {
  color: #ef4023;
}
.order_list .info_box .order_info a.order_info_btn {
  float: right;
  color: #333;
  width: 50px !important;
  height: 28px !important;
  line-height: 26px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: -0.025rem;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: -0.065rem;
  padding: 0 12px;
  background: #f9f9f9;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 77%,
    rgba(247, 247, 247, 1) 100%
  );
}
.order_list_wrap_pc_hidden {
  display: none;
}
.order_list_wrap_pc_hidden .page_btns {
  margin: 20px 0px;
}
.order_list_wrap_pc_hidden .qna_button {
  margin: 0px 0px 10px 0px;
}
.order_list_wrap_pc_hidden .qna_button .right a {
  margin: 0px;
}
.my_qna_view {
  width: 100%;
  padding: 16px 0;
  box-sizing: border-box;
}
.my_qna_view h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.045rem;
  color: #111;
  margin: 6px 0 14px;
}
.qna_view_table {
  width: 100%;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}
.qna_view_table tbody {
  width: 100%;
}
.qna_view_table tr {
  width: 100%;
}
.qna_view_table th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: left;
  width: 90px;
  font-size: 15px;
  color: #666;
  letter-spacing: -0.065rem;
  font-weight: 400;
  line-height: 19px;
  background: #f9f9f9;
  padding: 8px 12px;
  box-sizing: border-box;
}
.qna_view_table td {
  border-bottom: 1px solid #ddd;
  width: calc(100% - 90px);
  font-size: 15px;
  color: #666;
  letter-spacing: -0.065rem;
  font-weight: 400;
  line-height: 19px;
  padding: 8px 12px;
  box-sizing: border-box;
}
.qna_view_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
}
.qna_view_button a {
  padding: 4px 0px;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
  font-size: 0.8rem;
  color: #777;
  box-sizing: border-box;
  margin-right: 1%;
  width: 53px;
  height: 28px;
  display: inline-block;
}
.qna_view_button .color {
  background: #777;
  color: #fff;
  border-color: #777;
  width: 41px;
}
.my_qna_create_mobile {
  display: none;
}
.my_qna_create_mobile .hidden_btn_cont {
  margin: 0px 12px;
}
.text_box {
  margin-top: 10px;
  color: #333;
}
.text_box .text_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.order_info_btn_box {
  display: flex;
  gap: 5px;
}
.search_cont .application {
  height: 34px;
  padding: 0px 35px 0px 5px;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  border: 1px solid #ccc;
  background: url(/assets/imgs/sub02/mypage_qna/sel_arr.png) calc(100% - 16px)
    50% no-repeat var(--bs-white);
  appearance: none;
}
.span_box {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
}
.span_box span {
  color: #333;
  font-size: 13px;
}
.span_box input[type="text"] {
  width: 112px;
  height: 34px;
  padding: 2px 6px 2px 6px;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  background-color: var(--bs-white);
  border: 1px solid #ccc;
}
.out_reason_box {
  display: flex;
  gap: 5px;
}
.text_info .price {
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
  color: #111;
}
.order_complete_pc_hidden table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.mobile_table th {
  color: #555;
}
.mobile_table img {
  width: 75px;
  height: 75px;
}
.mobile_table td {
  padding: 12px 3% 12px 12px;
  vertical-align: top;
}
.mobile_table .prd_tit {
  font-size: 0.85rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
  font-weight: 500;
  color: #333;
  padding: 0 6px;
  box-sizing: border-box;
}
.mobile_table .prd_tit a {
  display: inline-block;
  vertical-align: middle;
}
.mobile_table_inner {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.mobile_table_inner th {
  color: #555;
  font-size: 0.8rem;
  vertical-align: top;
  text-align: left;
  padding: 4px 8px;
  box-sizing: border-box;
}
.mobile_table_inner td {
  font-size: 0.8rem;
  vertical-align: top;
  text-align: left;
  padding: 4px 8px;
  box-sizing: border-box;
}
.mobile_table_inner .prd_price {
  font-size: 0.95rem;
}
.dd_btn_inner {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}
.button_list_conts {
  margin: 25px 0px 70px;
}
.mobile_table_info {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.mobile_table_info th {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
  color: #333;
  vertical-align: middle;
}
.mobile_table_info td {
  font-size: 0.8rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
  color: #333;
  vertical-align: middle;
  text-align: right;
}

/* orderpay */
.order_pay_container {
  width: 100%;
  display: none;
}
.order_pay_m .order_pay_cont {
  display: flex;
  height: 120px;
  margin: 20px 0;
}
.order_pay_m .order_pay_cont {
  display: flex;
  height: 120px;
  justify-content: space-between;
  margin: 20px 0;
}
.order_pay_m .order_pay_cont1 {
  display: flex;
  height: 130px;
  justify-content: space-between;
  margin: 20px 0;
}
.order_pay_m .order_pay_cont1.order_pay_cont2 {
  display: flex;
  height: 120px;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 7px;
}
.order_pay_m .order_pay_cont1 .img_box {
  width: 75px;
  height: 75px;
  border: 1px solid #ddd;
  margin-left: 12px;
  float: left;
  margin-top: 8px;
  box-sizing: border-box;
}
.order_pay_m .order_pay_cont .order_pay_cont_text_list {
  font-size: 15px;
}
.order_pay_m .order_pay_cont1_left {
  display: flex;
}
.order_pay_m .order_pay_cont .img_box img {
  width: 75px;
  height: 75px;
}

.order_pay_m .order_pay_cont_text {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.order_pay_m .order_pay_cont_text .prd_tit {
  line-height: 1.3;
  font-weight: 400;
  display: block;
  font-size: 14px;
  height: auto;
  color: #333;
}

.order_pay_m .order_pay_cont_text_list {
  display: flex;
}

.order_pay_m .order_pay_cont_left_text,
.order_pay_m .order_pay_cont_right_text {
  padding-right: 8px;
  font-size: 13px;
  padding-top: 8px;
  line-height: 25px;
}
.order_pay_m .order_pay_cont_right_text .prd_price {
  font-size: 15px;
}
.order_pay_m .order_pay_info {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
}
.order_pay_m .order_pay_info_cont_right {
  text-align: right;
}
.order_pay_m .order_pay_info_cont_left,
.order_pay_m .order_pay_info_cont_right {
  font-size: 14px;
  color: #333;
}
.order_pay_m .crt_total {
  padding: 20px 15px;
}
.order_pay_m .crt_total_cont {
  display: flex;
  justify-content: space-between;
  color: #111;
  font-size: 14px;
}
.order_pay_m .crt_total_cont_left {
  font-size: 14px;
  color: #555;
}
.order_pay_m .crt_total_cont_right {
  text-align: right;
}
.line_hide {
  border-top: 1px solid #e5e5e5;
  height: 1px;
}
.pay_table {
  width: 94%;
  margin: 12px auto;
}
.pay_table th,
.pay_table td {
  font-size: 0.9rem;
  letter-spacing: -0.045rem;
  font-weight: 500;
  color: #111;
  padding: 6px 0;
  text-align: left;
  vertical-align: middle;
}
.pay_table select {
  height: 32px;
  line-height: 30px;
  padding: 0 30px 0 8px;
  border: 1px solid #ddd;
}
.pay_table input[type="text"] {
  height: 32px;
  padding: 0 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.order_complete_pc_hidden {
  display: none;
}
.order_complete_pc_hidden .table_cont {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #111;
}
.my_qna_detail .search_cont form {
  gap: 40px;
}
.my_qna_detail .select_cont {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}
.my_order_return .shopping_detail_cont .td_label4,
.my_order_return .shopping_detail_cont .td_label4_sub,
.my_order_return .shopping_detail_cont .td_label5 {
  height: 60px;
  font-size: 16px;
}
.my_order_cancel .table_cont .count_box a.up,
.my_order_cancel .table_cont .count_box a.down {
  border-left: 1px solid #ddd;
  font-size: 19px;
  background: #f5f5f5;
}
.my_order_cancel .table_cont .count_box a {
  float: left;
  width: 26px;
  height: 30px;
  font-weight: 300;
  line-height: 28px;
  border: 1px solid #ddd;
  color: #666;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.my_order_cancel .table_cont .count_box input[type="text"] {
  float: left;
  width: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #111;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0;
  box-sizing: border-box;
}
.order_pay_cont_right_text .count_box a.up,
.order_pay_cont_right_text .count_box a.down {
  border-left: 1px solid #ddd;
  font-size: 19px;
  background: #f5f5f5;
}
.order_pay_cont_right_text .count_box a {
  float: left;
  width: 26px;
  height: 30px;
  font-weight: 300;
  line-height: 28px;
  border: 1px solid #ddd;
  color: #666;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.order_pay_cont_right_text
  .count_box
  input[type="text"] {
  float: left;
  width: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #111;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0;
  box-sizing: border-box;
}
.all_btn_container{
  display: none;
}
.button_list_conts_pc_hidden {
  width: 100%;
  padding: 16px 3%;
  display: flex;
  justify-content: center;
}
.button_list_conts_pc_hidden button {
  width: 100%;
  height: 55px;
  line-height: 53px;
  text-align: center;
  font-size: 17px;
  letter-spacing: -0.065rem;
  border: 1px solid #ddd;
  cursor: pointer;
}
.button_list_conts_pc_hidden a{
  display: inline-block;
  width: 100%;
  height: 55px;
  line-height: 53px;
  text-align: center;
  font-size: 17px;
  letter-spacing: -0.065rem;
  border: 1px solid #ddd;
  cursor: pointer;
}
.list_btn_pc_hidden {
  left: 0;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  padding: 0px 12px;
  margin: 0px 3% 16px 3%;
  color: #797979;
  background-color: var(--bs-white);
  border: 1px solid #ddd;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 77%,
    rgba(247, 247, 247, 1) 100%
  );
}
.list_btn_pc_hidden:hover {
  border-color: #999;
}
.OptionOfNum .select{
  width: 92px;
  height: 25px;
  margin: 0;
  appearance: none;
  background: url(/assets/imgs/sub02/mypage_qna/sel_arr.png) calc(100% - 16px)
    50% no-repeat;
  padding: 0px 50px 2px 8px;
  border: 1px solid #ccc;
  background-color: var(--bs-white);
}
